$password-padding: 0 !default;
$password-input-padding: 34px !default;
$password-icon-color: map-get($text-colors, 'dark') !default;
$password-toggle-button: (
  type: 'ghost',
  shape: 'round',
) !default;


.#{$namespace}-password {
//.#{$namespace}-input[type='password'] {
  @extend %input;

  position: relative;
  padding: $password-padding;

  .#{$namespace}-input {
    margin: 0;
  }

  &--toggle {
    .#{$namespace}-input {
      padding-right: $password-input-padding;
    }

    .#{$namespace}-button {
      @extend .#{$namespace}-button--#{map-get($password-toggle-button, type)};
      @extend .#{$namespace}-button--#{map-get($password-toggle-button, shape)};

      position: absolute;
      right: 8px;
      height: 100%;
    }
  }
}
