$slider-width: 300px !default;
$slider-height: 4px !default;
$slider-margin: 0 !default;
$slider-padding: 0 !default;
$slider-border: 0 !default;
$slider-background: color('cyan', 'alpha', 10) !default;

$slider-bar-background: color('cyan', 'alpha', 70) !default;
$slider-bar-radius: $default-border-radius !default;

$slider-thumb-size: 16px !default;
$slider-thumb-background: map-get($background-colors, 'selected') !default;

$slider-header-margin: 0 0 rhythm(1.5) 0 !default;
$slider-header-color: map-get($text-colors, 'dark') !default;

$slider-hint-font-size: map-get($font-sizes, 'small') !default;

$slider-body-height: rhythm(1) !default;
$slider-body-margin: 0 0 rhythm(.5) 0 !default;

$slider-input-offset: rhythm(2) !default;
$slider-input-width: calc(100% - #{$slider-input-offset}) !default;
$slider-input-background: map-get($background-colors, 'selected') !default;
$slider-input-minmax-top: 8px !default;
$slider-input-minmax-width: 20px !default;
$slider-input-minmax-font-size: map-get($font-sizes, 'tiny') !default;
$slider-input-minmax-color: map-get($text-colors, 'normal') !default;

$slider-value-top: rhythm(-1) !default;
$slider-value-width: 16px !default;
$slider-value-margin: 0 0 0 rhythm(1) !default;

$slider-ticks-width: calc(100% - #{$slider-input-offset} - #{$slider-thumb-size}) !default;
$slider-ticks-left: #{$slider-thumb-size / 2} !default;
$slider-ticks-height: 5px !default;
$slider-ticks-margin: 0 0 0 rhythm(1) !default;
$slider-ticks-border: 1px solid color('cyan', 'alpha', 30) !default;


.#{$namespace}-slider {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: $slider-width;

  &--full {
    width: 100%;
  }
}


.#{$namespace}-slider__header {
  display: flex;
  margin: $slider-header-margin;
  color: $slider-header-color;
}


  .#{$namespace}-slider__title {
    flex: 1 1 auto;
    text-align: left;
  }


  .#{$namespace}-slider__hint {
    flex: 0 0 auto;
    text-align: right;
    font-size: $slider-hint-font-size;
  }



.#{$namespace}-slider__body {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: $slider-body-height;
  margin: $slider-body-margin;
}


  .#{$namespace}-slider__input {
    appearance: none;
    width: $slider-input-width;
    height: $slider-height;
    margin: $slider-margin;
    padding: $slider-padding;
    background: none;
    border: $slider-border;

    &:focus {
      @include focus(null);

      outline: none;

      &::-webkit-slider-runnable-track {
        appearance: none;
        background: $slider-background;
      }

      + .#{$namespace}-slider__bar {
        background: $slider-input-background;
      }
    }

    &::-webkit-slider-runnable-track {
      appearance: none;
      width: auto;
      height: $slider-height;
      cursor: pointer;
      background: $slider-background;
      border: $slider-border;
      z-index: 1;
      border-radius: $slider-bar-radius;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: $slider-thumb-size;
      height: $slider-thumb-size;
      margin-top: #{-($slider-thumb-size - $slider-height) / 2};
      border-radius: 100%;
      background: $slider-thumb-background;
      z-index: 2;
    }

    &::before,
    &::after {
      position: absolute;
      top: $slider-input-minmax-top;
      display: inline-block;
      width: $slider-input-minmax-width;
      text-align: center;
      font-size: $slider-input-minmax-font-size;
      color: $slider-input-minmax-color;
    }

    &::before {
      content: attr(min);
      left: 0;
    }

    &::after {
      content: attr(max);
      right: 0;
    }
  }


  .#{$namespace}-slider__bar {
    position: absolute;
    left: $slider-input-minmax-width;
    bottom: 0;
    display: inline-block;
    height: $slider-height;
    background: $slider-bar-background;
    border-radius: $slider-bar-radius;
    //z-index: 1;
  }


  .#{$namespace}-slider__value {
    position: absolute;
    top: $slider-value-top;
    display: inline-block;
    width: $slider-value-width;
    margin: $slider-value-margin;
    text-align: center;
  }


  .#{$namespace}-slider__ticks {
    position: absolute;
    left: $slider-ticks-left;
    top: 0;
    display: inline-flex;
    width: $slider-ticks-width;
    height: $slider-ticks-height;
    margin: $slider-ticks-margin;
    justify-content: space-evenly;
    font-size: 0;
    overflow: hidden;
  }


    .#{$namespace}-slider__tick {
      flex: 1 1 auto;
      border-left: $slider-ticks-border;

      &:last-child {
        border-right: $slider-ticks-border;
      }
    }
