$profile-header-background: (
  image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1190" height="240" viewBox="0 0 1190 240"><defs><linearGradient id="linearGradient-1" x1="50%" x2="50%" y1="67.474%" y2="0%"><stop offset="0%" stop-color="#23203C"/><stop offset="100%" stop-color="#111020"/></linearGradient><path id="path-2" d="M0 0h1190v240H0z"/><path id="path-4" d="M0 238h1190v1H0z"/></defs><g id="Account" fill="none" fill-rule="evenodd"><g id="Profile-Page---Empty-State" transform="translate(-250 -70)"><g id="the_witcher_3_wild_hunt_art_game-wallpaper-2560x1600" transform="translate(250 70)"><mask id="mask-3" fill="#fff"><use xlink:href="#path-2"/></mask><use id="Mask" fill="url(#linearGradient-1)" xlink:href="#path-2"/><path id="Shape-Copy" fill="#000" d="M555.442-384.408c-62.632 224.561-78.666 257.215-114.241 252.192-79.168-11.053 104.22-362.714 7.015-374.77-79.669-9.546-80.17 127.602-123.762 277.812-13.028 45.213-37.58 146.19-73.656 141.167-54.115-7.536-16.034-98.466-6.013-155.234 13.028-73.346-47.1-113.536-81.171-14.066-17.037 50.237-21.045 55.26-26.557 110.522-5.511 63.299-13.027 126.096-26.556 188.39C80.438 175.236 89.958 389.75 324.955 421.399c126.768 17.08 229.485-56.768 292.619-128.607h.5c31.568-43.205 63.635-91.432 100.213-115.546 97.205-64.304 181.885-47.223 197.417-92.94 29.062-87.412-222.47-39.687-273.077-26.625-36.077 9.043-122.76 19.592-136.79 58.275-15.031 41.697 35.576 31.65 52.11 54.256 19.04 26.124-8.016 57.773-36.076 82.892-32.569 29.64-85.68 58.778-169.358 47.223C178.144 276.716 194.68 88.326 306.416 30.05c198.42-103.991 373.79 8.038 439.93-140.162 62.633-140.162 152.322-305.945 84.68-316.495-73.657-11.555-89.19 85.906-134.786 189.395-39.584 90.93-49.104 99.47-73.656 96.455-52.11-7.033 133.282-391.85 45.096-403.908-3.508-1.005-7.015-1.507-11.024-1.507-75.159 0-86.182 110.02-101.214 161.764" mask="url(#mask-3)" opacity=".103" transform="rotate(31 508.149 -61.142)"/><path id="Shape-Copy-2" fill="#000" d="M1273.442-203.408c-62.632 224.561-78.666 257.215-114.241 252.192-79.168-11.053 104.22-362.714 7.015-374.77-79.669-9.546-80.17 127.602-123.762 277.812-13.028 45.213-37.58 146.19-73.656 141.167-54.115-7.536-16.034-98.466-6.013-155.234 13.028-73.346-47.1-113.536-81.171-14.066-17.037 50.237-21.045 55.26-26.557 110.522-5.511 63.299-13.027 126.096-26.556 188.39-30.063 133.631-20.543 348.145 214.454 379.794 126.768 17.08 229.485-56.768 292.619-128.607h.5c31.568-43.205 63.635-91.432 100.213-115.546 97.205-64.304 181.885-47.223 197.417-92.94 29.062-87.412-222.47-39.687-273.077-26.625-36.077 9.043-122.76 19.592-136.79 58.275-15.031 41.697 35.576 31.65 52.11 54.256 19.04 26.124-8.016 57.773-36.076 82.892-32.569 29.64-85.68 58.778-169.358 47.223-174.369-23.611-157.834-212.001-46.097-270.277 198.42-103.991 373.79 8.038 439.93-140.162 62.633-140.162 152.322-305.945 84.68-316.495-73.657-11.555-89.19 85.906-134.786 189.395-39.584 90.93-49.104 99.47-73.656 96.455-52.11-7.033 133.282-391.85 45.096-403.908-3.508-1.005-7.015-1.507-11.024-1.507-75.159 0-86.182 110.02-101.214 161.764" mask="url(#mask-3)" opacity=".103" transform="rotate(31 1226.149 119.858)"/><mask id="mask-5" fill="#fff"><use xlink:href="#path-4"/></mask><use id="Mask-Copy" fill="#7F8FA4" opacity=".202" xlink:href="#path-4"/></g></g></g></svg>'),
  repeat: no-repeat,
  size: cover,
);

$profile-image-background: (
  color: color('white'),
  image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQoU2M8ffp0AwMaMDU1xRBjHAoK0T0C4mNzN+MQUAgAsugicGXudO0AAAAASUVORK5CYII='),
  repeat: repeat,
);


/// Glow svg icon on hover
///
@mixin icon-hover($color: white) {
  &:hover:not([disabled]) {
    svg g {
      fill: transparent;
      stroke: $color;
    }
  }
}


.#{$namespace}-profile {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;


  &__header {

  }


  &__statusbar {

  }


  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    background: linear-gradient(0deg, #23203C 0%, #111020 100%);
  }
}


@import '../partials/profile-header';
@import '../partials/profile-user';
@import '../partials/profile-statusbar';
@import '../partials/profile-upload';
@import '../partials/profile-edit';
