@import 'abstracts';
@import 'base';

@import 'components/link';
@import '../../components/link';

@import 'pages/root';

.#{$namespace}-static {
	width: 100%;
	height: 100%;
	padding: rhythm(1);
	text-align: center;

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		//height: rhythm(4.5);
	}

	&__logo {
		@include set-background((
        image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="242" height="60"><g fill="none" fill-rule="nonzero"><path fill="#F26122" d="M87.042 28.728v9.763c-2.26 1.38-4.82 2.103-7.442 2.071-5.755 0-10.304-4.3-10.304-10.547 0-6.246 4.61-10.578 10.545-10.578 2.29 0 4.55.596 6.569 1.757l-1.899 3.83c-1.355-.722-2.832-1.13-4.368-1.13-3.917 0-5.996 2.543-5.996 6.121 0 3.893 2.53 6.341 5.724 6.341 1.447 0 2.17-.157 2.893-.565v-3.013h-3.947v-4.05h8.225z"/><path fill="#FFF" d="M116.144 40.563l-12.477-11.032v10.626h-4.794V19.562l.667-.125 12.286 10.938V19.812h4.794V40.47zM139.717 39.718l-1.505-3.648h-6.908l-1.505 3.648h-4.729l9.396-20.281h.645l9.396 20.281h-4.79zm-4.944-12.057l-1.995 4.823h3.96l-1.965-4.823zM161.212 23.767v15.951h-4.678v-15.95h-6.111v-4.331h16.9v4.33zM177.465 20.282h4.225v20.282h-4.225zM203.144 40.563c-6.408 0-10.468-4.551-10.468-10.547s4.283-10.58 10.659-10.58 10.468 4.552 10.468 10.58c0 6.027-4.283 10.547-10.659 10.547m.095-16.857c-3.267 0-5.456 2.637-5.456 6.341s2.19 6.341 5.456 6.341c3.268 0 5.457-2.668 5.457-6.34 0-3.674-2.19-6.342-5.457-6.342M241.213 40.563l-12.499-11.032v10.626h-4.77V19.562l.636-.125 12.308 10.938V19.812h4.802V40.47z"/><path fill="#F26122" d="M28.277 10.005c-3.874 13.89-4.865 15.91-7.066 15.599-4.896-.684 6.446-22.435.434-23.18-4.928-.59-4.959 7.892-7.655 17.183-.806 2.796-2.324 9.042-4.556 8.731-3.347-.466-.991-6.09-.371-9.601.805-4.537-2.914-7.023-5.021-.87-1.054 3.107-1.302 3.418-1.643 6.836-.34 3.915-.805 7.799-1.642 11.652-1.86 8.265-1.27 21.533 13.264 23.491 7.841 1.056 14.194-3.511 18.1-7.955h.03c1.953-2.672 3.936-5.655 6.199-7.146 6.012-3.978 11.25-2.921 12.21-5.749 1.798-5.406-13.76-2.455-16.89-1.647-2.232.56-7.593 1.212-8.46 3.605-.93 2.579 2.2 1.957 3.222 3.356 1.178 1.615-.496 3.573-2.231 5.127-2.015 1.833-5.3 3.635-10.475 2.92-10.785-1.46-9.763-13.112-2.851-16.717 12.272-6.432 23.12.498 27.21-8.669 3.874-8.67 9.421-18.923 5.238-19.576-4.556-.714-5.517 5.314-8.337 11.715-2.448 5.624-3.037 6.152-4.556 5.966C29.207 24.64 40.674.839 35.22.093A2.411 2.411 0 0 0 34.537 0c-4.65 0-5.331 6.805-6.26 10.005"/></g></svg>'),
        repeat: no-repeat,
        position: center center,
        size: contain,
      ));

		width: 180px;
		height: rhythm(2.5);

		figcaption {
			display: none;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		//height: rhythm(4.5);
		color: color('gray');

		p {
			margin: 0;
		}
	}
}

@import 'static/restricted';
@import 'static/privacy-policy';
@import 'static/terms-of-service';
