.#{$namespace}-static {
  &--privacy-policy {
    display: block;
    overflow: auto;

    .#{$namespace}-static__header {
      margin: 0 0 rhythm(1) 0;
    }

    .#{$namespace}-static__content {
      max-width: 980px;
      margin: 0 auto;
      text-align: justify;
    }

    .#{$namespace}-static__footer {
      margin: rhythm(1) 0 0 0;
    }
  }
}
