///
/// components/form.scss
///
$form-header-margin: 0 0 rhythm(2) 0;
$form-footer-margin: rhythm(2) 0 0 0;
$form-messages-margin: 0 0 rhythm(2) 0;

$form-dialog-padding: rhythm(2.5) rhythm(2);
$form-dialog-background: (
  color: map-get($background-colors, 'window'),
  image: linear-gradient(135deg, #{color('tertiary')} 0%, #{color('secondary')} 100%),
);
$form-dialog-border: (
  width: 0,
  style: solid,
  color: transparent,
  radius: $default-border-radius
);
$form-dialog-shadow: 0 2px 6px 0 rgba(0,0,0, 0.3);

$form-sizes: (
  small: 400px,
  medium: 500px,
  large: 600px
);
