$table-border: none;
$table-background: transparent;
$table-background-striped-odd: transparent;
$table-background-striped-even: rgba(255,255,255, .05);
$table-background-highlight: map-get($background-colors, 'hover');
$table-resizing-border-color: map-get($border-colors, 'normal');

$table-header-groups-background: none;
$table-header-groups-border: none;
$table-header-height: rhythm(2.5);
$table-header-shadow: none;
$table-header-filters-border: none;
$table-header-filters-cell-border: (
  side: right,
  width: 1px,
  style: solid,
  color: black,
);
$table-header-cell-padding: rhythm(.75) rhythm(1);
$table-header-cell-align: left;
$table-header-cell-font-size: map-get($font-sizes, 'normal');
$table-header-cell-text-transform: none;
$table-header-cell-color: map-get($text-colors, 'dark');
$table-header-cell-border: (
  side: bottom,
  width: 1px,
  style: solid,
  color: color(white, alpha, 10),
);
$table-header-cell-resizing-border-color: map-get($border-colors, 'light');
$table-header-cell-transition: box-shadow .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
$table-header-cell-shadow: none;
$table-header-cell-sort-asc-background: (
  image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#{color('white')}" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/><path fill="none" d="M0 0h24v24H0z"/></svg>'),
  color: transparent,
  repeat: no-repeat,
  position: right center,
  size: 20px,
);
$table-header-cell-sort-desc-background: (
  image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#{color('white')}" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>'),
  color: transparent,
  repeat: no-repeat,
  position: right center,
  size: 20px,
);
$table-header-resizer-width: 6px;
$table-header-resizer-border: (
  side: right,
  width: 1px,
  style: dashed,
  color: map-get($border-colors, 'normal'),
);

$table-body-background: transparent;
$table-body-row-group-border: (
  side: bottom,
  width: 1px,
  style: solid,
  color: color('white', 'alpha', 10),
);
$table-body-cell-border: (
  side: right,
  width: 1px,
  style: dashed,
  color: transparent,
);
$table-body-row-cell-padding: rhythm(.75) rhythm(1);
$table-body-row-cell-transition: .3s ease;

$table-foot-shadow: none;
$table-foot-cell-border: none;

$table-pagination-height: rhythm(2.5);
$table-pagination-padding: rhythm(.5) 0;
$table-pagination-font-size: map-get($font-sizes, 'small');
$table-pagination-color: map-get($text-colors, 'normal');
$table-pagination-shadow: none;
$table-pagination-border: none;
$table-pagination-icon-size: 'small';
$table-pagination-prev-icon: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#{color('white')}" d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
$table-pagination-next-icon: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#{color('white')}" d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
$table-pagination-page-info-margin: 0;
$table-pagination-page-info-padding: 0 rhythm(1);
$table-pagination-page-size-margin: 0;
$table-pagination-page-size-padding: 0 rhythm(1);

$table-loading-background: color('black', 'alpha', 80);
$table-loading-transition: all .3s ease;
$table-loading-font-size: map-get($font-sizes, 'normal');
$table-loading-color: map-get($text-colors, 'normal');
$table-loading-transition: all .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);

$table-empty-background: color('black', 'alpha', 80);
$table-empty-transition: all .3s ease;
$table-empty-color: map-get($text-colors, 'normal');
