$body-color: map-get($text-colors, 'normal');
$body-background: map-get($application, background);
$body-opacity: 1 !important;
$body-transition: opacity 0.4s linear;


:root,
body,
#root,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root,
:root[style] {

}

body,
body[style] {
  @include set-background($body-background);

  color: $body-color;
  opacity: $body-opacity;
  transition: $body-transition;
}

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
